@charset "UTF-8";
/*cookies*/
.cookie-message {
  position: fixed;
  right: 10px;
  bottom: 10px;
  background-color: #fff;
  max-width: 430px;
  z-index: 100;
  color: #383839;
  padding: 2rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.22);
  overflow: hidden;
  display: none;
  font-size: 0.6875rem;
  font-weight: 300;
  margin-left: 10px; }
  .cookie-message .btn-primary {
    font-size: 1rem;
    margin-top: 1rem; }

.container-footer {
  background-color: #383839;
  color: #fff;
  padding-top: 5rem;
  padding-bottom: 5rem; }
  .container-footer .wrapper-info {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem; }
    .container-footer .wrapper-info .content {
      width: 50%;
      font-size: .875rem; }
      .container-footer .wrapper-info .content .logo {
        margin-bottom: 20px;
        height: 70px;
        width: auto; }
        .container-footer .wrapper-info .content .logo img {
          width: 100%;
          height: 100%;
          object-fit: contain; }
      .container-footer .wrapper-info .content .wrapper-btn {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: center; }
        .container-footer .wrapper-info .content .wrapper-btn .btn-arrow {
          font-size: .875rem; }
  .container-footer .wrapper-contact {
    padding-top: 5rem;
    border-top: 1px solid #707070;
    display: flex;
    justify-content: space-between; }
    .container-footer .wrapper-contact .wrapper-menu {
      flex: 5;
      display: flex;
      justify-content: space-between;
      margin-right: 19rem; }
      .container-footer .wrapper-contact .wrapper-menu.mobile {
        display: none; }
      .container-footer .wrapper-contact .wrapper-menu .block {
        margin-right: 20px; }
        .container-footer .wrapper-contact .wrapper-menu .block .top {
          font-size: 1.125rem;
          font-weight: 600;
          margin-bottom: 30px; }
        .container-footer .wrapper-contact .wrapper-menu .block ul {
          list-style: none;
          margin-bottom: 0;
          padding-left: 0; }
          .container-footer .wrapper-contact .wrapper-menu .block ul li {
            margin-bottom: 12px;
            font-size: 1rem;
            font-weight: 300;
            display: flex;
            flex-direction: column; }
            .container-footer .wrapper-contact .wrapper-menu .block ul li a {
              color: #fff; }
              .container-footer .wrapper-contact .wrapper-menu .block ul li a:hover {
                color: #F5835D; }
    .container-footer .wrapper-contact .wrapper-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end; }
      .container-footer .wrapper-contact .wrapper-content .wrapper-social a {
        display: block;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background-color: #fff;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: 12px;
        transition: all .2s linear; }
        .container-footer .wrapper-contact .wrapper-content .wrapper-social a svg {
          color: #383839;
          width: 19px;
          height: 19px; }
        .container-footer .wrapper-contact .wrapper-content .wrapper-social a:hover {
          background-color: #F5835D; }
        .container-footer .wrapper-contact .wrapper-content .wrapper-social a:last-child {
          margin-right: 0; }
      .container-footer .wrapper-contact .wrapper-content .wrapper-dst {
        text-align: right;
        font-size: .875rem;
        font-weight: 500; }
        .container-footer .wrapper-contact .wrapper-content .wrapper-dst p {
          margin-bottom: 5px; }
          .container-footer .wrapper-contact .wrapper-content .wrapper-dst p:last-child {
            font-size: .75rem;
            font-weight: 300; }
        .container-footer .wrapper-contact .wrapper-content .wrapper-dst a {
          color: #fff; }
          .container-footer .wrapper-contact .wrapper-content .wrapper-dst a:hover {
            color: #F5835D; }

/*RWD*/
@media only screen and (max-width: 1719.98px) {
  .container-footer .wrapper-contact {
    padding-top: 3rem; }
    .container-footer .wrapper-contact .wrapper-menu {
      flex: 4;
      margin-right: 11rem; }
      .container-footer .wrapper-contact .wrapper-menu .block .top {
        margin-bottom: 18px; }
      .container-footer .wrapper-contact .wrapper-menu .block ul li {
        margin-bottom: 5px; }
  .container-footer .wrapper-info {
    margin-bottom: 2rem; } }

@media only screen and (max-width: 1399.98px) {
  .container-footer .wrapper-contact .wrapper-menu {
    margin-right: 6rem; }
  .container-footer .wrapper-info .content .logo {
    height: 53px; } }

@media only screen and (max-width: 1199.98px) {
  .container-footer {
    padding-top: 3rem;
    padding-bottom: 3rem; }
    .container-footer .wrapper-contact .wrapper-menu {
      margin-right: 0rem;
      flex: 2; } }

@media only screen and (max-width: 991.98px) {
  .container-footer .wrapper-info .content {
    width: 75%; }
  .container-footer .wrapper-contact {
    flex-direction: column; }
    .container-footer .wrapper-contact .wrapper-menu {
      flex: auto;
      margin-bottom: 3rem; }
    .container-footer .wrapper-contact .wrapper-content .wrapper-dst {
      margin-top: 20px; } }

@media only screen and (max-width: 767.98px) {
  .container-footer .wrapper-info {
    margin-bottom: 1.5rem; }
    .container-footer .wrapper-info .content {
      font-size: .75rem; }
      .container-footer .wrapper-info .content .logo {
        height: 45px; }
  .container-footer .wrapper-contact {
    padding-top: 2rem; }
    .container-footer .wrapper-contact .wrapper-menu .block .top {
      font-size: 1rem;
      margin-bottom: 14px; }
    .container-footer .wrapper-contact .wrapper-menu .block ul li {
      font-size: .875rem; } }

@media only screen and (max-width: 575.98px) {
  .container-footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0;
    padding-right: 0; }
    .container-footer .wrapper-info .content {
      width: 100%; }
      .container-footer .wrapper-info .content .logo {
        height: 40px; }
    .container-footer .wrapper-contact .wrapper-menu {
      margin-bottom: 2rem; }
      .container-footer .wrapper-contact .wrapper-menu.mobile {
        display: block; }
      .container-footer .wrapper-contact .wrapper-menu.desktop {
        display: none; }
    .container-footer .wrapper-contact .wrapper-content {
      align-items: center; }
      .container-footer .wrapper-contact .wrapper-content .wrapper-dst {
        text-align: center; }
  .accordion-body {
    padding: 0;
    padding-bottom: 1rem; }
    .accordion-body ul {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0; }
      .accordion-body ul li {
        line-height: 1;
        padding-top: 7px;
        padding-bottom: 7px;
        font-size: 1rem;
        font-weight: 300; }
        .accordion-body ul li a {
          color: #fff; }
          .accordion-body ul li a:hover {
            color: #F5835D; }
  .accordion-item {
    background-color: transparent;
    border: none; }
  .accordion-button {
    padding: 1rem 0;
    color: #fff;
    background-color: transparent;
    font-weight: 600; }
    .accordion-button:focus {
      box-shadow: none; }
    .accordion-button::after {
      background-image: none;
      content: "+"; }
    .accordion-button:not(.collapsed) {
      background-color: transparent;
      box-shadow: none; }
    .accordion-button:not(.collapsed)::after {
      background-image: none;
      transform: none;
      content: "-"; }
  .accordion-flush .accordion-item {
    border-bottom: 1px solid #707070; }
    .accordion-flush .accordion-item:focus {
      box-shadow: none; } }

.se-pre-con {
  background: #c63b0c;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center; }
  .se-pre-con img {
    width: 100px;
    animation: zoomIn;
    animation-duration: .5s;
    animation-iteration-count: 10; }

.btn {
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: inline-flex;
  border-radius: 50px;
  font-size: 1.125rem;
  font-weight: 600;
  width: auto;
  transition: all .2s linear; }
  .btn:focus {
    box-shadow: none; }
  .btn.btn-primary {
    color: #383839;
    padding: 16px 33px;
    text-transform: uppercase; }
    .btn.btn-primary:hover {
      background-color: transparent;
      border-color: transparent;
      box-shadow: inset 0 0 0 2em #fff; }
    .btn.btn-primary.btn-border {
      border: 1px solid transparent; }
      .btn.btn-primary.btn-border:hover {
        border: 1px solid #F5835D; }
  .btn.btn-secondary {
    color: #383839;
    padding: 16px 33px;
    text-transform: uppercase; }
    .btn.btn-secondary:hover {
      background-color: transparent;
      border-color: transparent;
      box-shadow: inset 0 0 0 2em #fff; }
  .btn.btn-dark {
    color: #fff;
    padding: 16px 50px;
    text-transform: uppercase;
    background-color: #383839; }
    .btn.btn-dark svg {
      width: 0;
      height: 0; }
    .btn.btn-dark:hover {
      background-color: transparent;
      border-color: transparent;
      box-shadow: inset 0 0 0 2em #fff;
      color: #383839; }
  .btn.btn-send:not(.show) i {
    display: none; }
  .btn.btn-send:not(.show) svg {
    display: inline-block; }
  .btn.btn-send.show {
    opacity: .5;
    pointer-events: none; }
    .btn.btn-send.show i {
      display: inline-block; }
    .btn.btn-send.show svg {
      display: none; }

.btn-arrow {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 600;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: .5s;
  color: #fff;
  width: auto;
  transition: all .2s linear;
  z-index: 1; }
  .btn-arrow svg {
    height: 60px;
    width: 100px;
    display: block;
    transition: .5s;
    color: #F5835D; }
    .btn-arrow svg .fashion-slider-svg-wrap {
      transform: translateY(353px) rotateY(180deg);
      transform-origin: 80px 0px 0px; }
    .btn-arrow svg .fashion-slider-svg-circle-wrap {
      transition: .5s;
      stroke-width: 1px;
      stroke: #F5835D;
      fill: none;
      stroke-dasharray: 0;
      stroke-dashoffset: 0;
      opacity: 1;
      transform-origin: 0px 0px 0px; }
    .btn-arrow svg .fashion-slider-svg-arrow {
      transition: .5s;
      fill: #F5835D;
      transform: rotateY(180deg) translate(-55px, 36.1px) scale(1.75); }
    .btn-arrow svg .fashion-slider-svg-line {
      transition: .5s;
      stroke: #F5835D;
      stroke-width: 2;
      transform: translate(50px, 42px); }
  .btn-arrow:hover {
    color: #F5835D; }
    .btn-arrow:hover .fashion-slider-svg-circle-wrap {
      stroke-dasharray: 25;
      stroke-dashoffset: 80;
      stroke-width: 2px; }
    .btn-arrow:hover .fashion-slider-svg-arrow {
      transform: rotateY(180deg) translate(-40px, 36.1px) scale(1.75); }
    .btn-arrow:hover .fashion-slider-svg-line {
      transform: translate(35px, 42px) scaleX(0.5); }
  .btn-arrow.arrow-secondary svg {
    color: #58BC70; }
    .btn-arrow.arrow-secondary svg .fashion-slider-svg-circle-wrap {
      stroke: #58BC70; }
    .btn-arrow.arrow-secondary svg .fashion-slider-svg-arrow {
      fill: #58BC70; }
    .btn-arrow.arrow-secondary svg .fashion-slider-svg-line {
      stroke: #58BC70; }
  .btn-arrow.arrow-secondary:hover {
    color: #58BC70; }
  .btn-arrow.arrow-info svg {
    color: #6594CE; }
    .btn-arrow.arrow-info svg .fashion-slider-svg-circle-wrap {
      stroke: #6594CE; }
    .btn-arrow.arrow-info svg .fashion-slider-svg-arrow {
      fill: #6594CE; }
    .btn-arrow.arrow-info svg .fashion-slider-svg-line {
      stroke: #6594CE; }
  .btn-arrow.arrow-info:hover {
    color: #6594CE; }
  .btn-arrow.dark {
    color: #383839; }

.wrapper-btn {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex; }

.btn-arrow.down {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .btn-arrow.down.collapsed .hide {
    display: none; }
  .btn-arrow.down.collapsed .show {
    display: block; }
  .btn-arrow.down.collapsed .a-up {
    display: none; }
  .btn-arrow.down.collapsed .a-down {
    display: block; }
  .btn-arrow.down:not(.collapsed) .hide {
    display: block; }
  .btn-arrow.down:not(.collapsed) .show {
    display: none; }
  .btn-arrow.down:not(.collapsed) .a-up {
    display: block; }
  .btn-arrow.down:not(.collapsed) .a-down {
    display: none; }
  .btn-arrow.down .a-down {
    height: 100px;
    width: 70px;
    display: flex;
    justify-content: center; }
    .btn-arrow.down .a-down .fashion-slider-svg-wrap {
      transform: translate(-55px, 366px) rotateY(189deg) scale(1.5); }
    .btn-arrow.down .a-down .fashion-slider-svg-arrow {
      transform: rotate(90deg) translate(35px, -48.4px) scale(1.75); }
    .btn-arrow.down .a-down .fashion-slider-svg-line {
      transform: translate(42px, -39px) rotate(90deg); }
    .btn-arrow.down .a-down:hover .fashion-slider-svg-line {
      transform: translate(42px, 8px) rotate(90deg) scaleX(0.5); }
    .btn-arrow.down .a-down:hover .fashion-slider-svg-arrow {
      transform: rotate(90deg) translate(45px, -48.4px) scale(1.75); }
  .btn-arrow.down .a-up {
    height: 100px;
    width: 70px;
    display: flex;
    justify-content: center; }
    .btn-arrow.down .a-up .fashion-slider-svg-arrow {
      transform: rotate(270deg) translate(-47px, 35.6px) scale(1.75); }
    .btn-arrow.down .a-up .fashion-slider-svg-line {
      transform: translate(42px, 45px) rotate(90deg); }
    .btn-arrow.down .a-up .fashion-slider-svg-wrap {
      transform: translate(-58px, 315px) rotateY(189deg) scale(1.5); }
    .btn-arrow.down .a-up:hover .fashion-slider-svg-line {
      transform: translate(42px, 36px) rotate(90deg) scaleX(0.5); }
    .btn-arrow.down .a-up:hover .fashion-slider-svg-arrow {
      transform: rotate(270deg) translate(-40px, 35.6px) scale(1.75); }

.btn-downolad {
  width: 42px;
  height: 42px;
  border: 1px solid #58BC70;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .2s linear; }
  .btn-downolad svg {
    height: 20px;
    width: 15px;
    transition: all .2s linear;
    position: absolute; }
    .btn-downolad svg.default {
      color: #58BC70; }
  .btn-downolad .default {
    opacity: 1; }
  .btn-downolad .hover {
    opacity: 0; }
  .btn-downolad:hover {
    background-color: #58BC70; }
    .btn-downolad:hover svg {
      color: #fff; }
    .btn-downolad:hover .default {
      opacity: 0; }
    .btn-downolad:hover .hover {
      opacity: 1; }
  .btn-downolad.past {
    background-color: #fff; }
    .btn-downolad.past:hover .default {
      opacity: 1; }
    .btn-downolad.past:hover .hover {
      opacity: 0; }

/*RWD*/
@media only screen and (max-width: 1719.98px) {
  .btn {
    font-size: 1rem; }
    .btn.btn-primary {
      padding: 10px 24px; }
    .btn.btn-secondary {
      padding: 10px 24px; } }

@media only screen and (max-width: 1399.98px) {
  .btn-arrow {
    font-size: 1rem; } }

@media only screen and (max-width: 767.98px) {
  .btn-arrow svg {
    height: 42px; }
  .btn-arrow.down .a-down {
    height: 80px;
    width: 50px; }
  .btn-arrow.down .a-up {
    height: 80px;
    width: 50px; } }

::-moz-selection {
  background: #58BC70;
  color: #383839; }

::selection {
  background: #58BC70;
  color: #383839; }

html.show-menu {
  overflow: hidden !important;
  height: 100vh !important; }

body.show-menu {
  overflow: hidden !important;
  height: 100vh !important; }

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
  /*dodaję offset aby menu nie zasłoniło nam tekstu*/ }

.wow {
  visibility: hidden; }

body {
  font-family: "Poppins", sans-serif;
  color: #383839;
  position: relative; }

svg {
  width: 1rem;
  height: 1rem; }

button {
  background-color: transparent;
  border: none;
  padding: 0; }

a {
  text-decoration: none;
  transition: all 0.3s ease; }
  a:hover {
    text-decoration: none; }

.fw-sb {
  font-weight: 600; }

.triangle {
  position: absolute;
  bottom: -40px;
  right: 0;
  width: 138px;
  height: 138px;
  color: #383839;
  z-index: 2; }
  .triangle .t-top {
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    width: 100%;
    height: 100%;
    transition: all .2s linear; }
    .triangle .t-top svg {
      color: #383839;
      position: absolute;
      top: 20px;
      left: 15px;
      height: 35px;
      width: 22px;
      transition: all .2s linear;
      animation: arrowDown 2s infinite; }
  .triangle .t-bottom {
    clip-path: polygon(0 100%, 100% 100%, 100% 0);
    width: 50%;
    height: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: all .2s linear; }
  .triangle.primary .t-top {
    background-color: #F5835D; }
  .triangle.primary .t-bottom {
    background-color: #F5835D; }
  .triangle.primary:hover .t-bottom {
    width: 100%;
    height: 100%; }
  .triangle.primary:hover .t-top {
    width: 80%;
    height: 80%; }
    .triangle.primary:hover .t-top svg {
      transform: scale(0.7); }
  .triangle.secondary .t-top {
    background-color: #58BC70; }
  .triangle.secondary .t-bottom {
    background-color: #58BC70; }

@keyframes arrowDown {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(40%); }
  100% {
    transform: translateY(0); } }

h3 {
  font-weight: 200; }

h2 {
  font-weight: 600;
  margin-bottom: 5rem; }

h4 {
  font-weight: 500;
  margin-bottom: 2rem; }

.header-h1 {
  font-size: 4.4375rem;
  line-height: 1.1; }

.form-control {
  width: 100% !important;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 3px !important;
  height: 47px;
  border-radius: 5px !important;
  width: 100%;
  color: #000; }
  .form-control:focus {
    box-shadow: none;
    background-color: #000;
    color: #fff;
    border: #000; }

.input-group {
  flex-direction: column;
  margin-bottom: 2rem; }

.form-label {
  margin-bottom: 0.25rem;
  font-size: .75rem;
  font-weight: 500; }

/*RWD*/
@media only screen and (max-width: 1719.98px) {
  h1, .h1 {
    font-size: 4rem; }
  h2, .h2 {
    font-size: 2.8rem; }
  h3, .h3 {
    font-size: 2.4rem; }
  h4, .h4 {
    font-size: 1.4rem; }
  .header-h1 {
    font-size: 3rem; }
  .triangle {
    width: 100px;
    height: 100px;
    bottom: -25px; }
    .triangle .t-top svg {
      height: 25px;
      width: 11px; }
  h2 {
    margin-bottom: 4rem; } }

@media only screen and (max-width: 1399.98px) {
  h1, .h1 {
    font-size: 3rem;
    line-height: 1.1; }
  h2, .h2 {
    font-size: 2.5rem; }
  h2 {
    margin-bottom: 3rem; }
  h3, .h3 {
    font-size: 2.5rem; }
  h4, .h4 {
    font-size: 1.4rem; }
  h5, .h5 {
    font-size: 1.2rem; }
  .header-h1 {
    font-size: 3rem; } }

@media only screen and (max-width: 1199.98px) {
  h1, .h1 {
    font-size: 3rem; }
  h2, .h2 {
    font-size: 2.2rem; }
  .header-h1 {
    font-size: 2.7rem; } }

@media only screen and (max-width: 991.98px) {
  .triangle {
    width: 80px;
    height: 80px; }
    .triangle .t-top svg {
      top: 15px;
      left: 11px; }
  h4, .h4 {
    font-size: 1.3rem; }
  h3, .h3 {
    font-size: 1.8rem; }
  h4 {
    margin-bottom: 1.65rem; }
  .header-h1 {
    font-size: 2.1rem; } }

@media only screen and (max-width: 767.98px) {
  h1, .h1 {
    font-size: 2.5rem; }
  h2, .h2 {
    font-size: 1.7rem; }
  h4 {
    margin-bottom: 1.35rem; }
  .header-h1 {
    font-size: 1.8rem; }
  .input-group {
    margin-bottom: 1rem; } }

@media only screen and (max-width: 575.98px) {
  h1, .h1 {
    font-size: 1.8rem; }
  h2, .h2 {
    font-size: 1.4rem; }
  h3, .h3 {
    font-size: 1.5rem; }
  h2 {
    margin-bottom: 2rem; }
  h5, .h5 {
    font-size: 1.1rem; }
  .triangle {
    bottom: -16px;
    width: 60px;
    height: 60px; }
    .triangle .t-top svg {
      top: 5px;
      left: 6px; }
  h4, .h4 {
    font-size: 1.5rem; }
  .header-h1 {
    font-size: 1.6rem; }
  @keyframes arrowDown {
    0% {
      transform: translateY(0); }
    50% {
      transform: translateY(30%); }
    100% {
      transform: translateY(0); } } }

/*# sourceMappingURL=style.css.map */