.navbar-menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 4;
  height: 150px;
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    .bg-clip {
    	position: absolute;
    	top: 0;
    	right: 0;
        clip-path: polygon(8% 0, 100% 0, 100% 100%, 0% 100%);
        z-index: -1;
    	background-color: $dark;
    	width: 70%;
    	height: 100%;
    }

  .container-navbar {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .navbar-brand {
      img {
        height: 77px;
        width: auto;
      }
      &.brand-color {
          mix-blend-mode: multiply;
      }
    }
    .wrapper-btn-menu {
        display: none;
    }

    .navbar-collapse {
      justify-content: center;
      align-items: center;
      flex: auto;
        justify-content: flex-end;
      .logo-mobile {
        display: none;
      }
      .navbar-nav {
        justify-content: flex-end;
        align-items: center;
        display: flex;
        width: auto;
        margin-bottom: 0;
        padding-left: 0;
        flex-direction: row;
        .nav-item {
          padding: 0 2.5rem;
          list-style: none;

          .nav-link {
            font-size: 1.125rem;
            text-transform: uppercase;
            color: $white;
            font-weight: 600;
            transition: all .3s ease;
            &:hover {
              color: $primary;
            }
            &.active {
              color: $primary;
            }
          }
        }
      }
      &.gsap-style {
          .navbar-nav {
              .nav-item {
                  opacity: 1 !important;
                  transform: none !important;
                  visibility: visible;
              }
          }
      }
    }
    .btn-invest {
        margin-left: 40px;
        svg {
            display: none;
        }
    }
    .navbar-toggler {
      display: none;
    }
  }
  &.sps--abv{
      animation: fadeIn;
      animation-duration: .5s;
      animation-iteration-count: 1;
  }
  &.sps--blw{
      position: fixed;
      z-index: 4;
      top: 0;
      height: 100px;
      animation: fadeInDown;
      animation-duration: .5s;
      animation-iteration-count: 1;
      box-shadow: 0 0 40px rgba(0,0,0,0.3);
      background: $dark;
      &.bg-white {
          background-color: $white;
      }
      .navbar-brand {
        img {
            width: auto;
            height: 77px;
        }
      }
      .navbar-nav{
          transition: all .4s linear;
          .nav-item{
              transition: all .4s linear;
          }
      }
  }
  &.t-dark {
      .container-navbar {
          .navbar-collapse {
              .navbar-nav {
                  .nav-item {
                      padding: 0px 1.4rem;
                      .nav-link {
                          color: $dark;
                          &:hover {
                              color: $primary;
                          }
                          &.active {
                              color: $primary;
                          }
                      }
                  }
              }
          }
      }
      &.sps--blw {
          .container-navbar {
              .navbar-collapse {
                  .navbar-nav {
                      .nav-item {
                          .nav-link {
                              color: $white;
                              &:hover {
                                  color: $primary;
                              }
                              &.active {
                                  color: $primary;
                              }
                          }
                      }
                  }
              }
          }
          &.bg-white {
              .container-navbar {
                  .navbar-collapse {
                      .navbar-nav {
                          .nav-item {
                              .nav-link {
                                  color: $dark;
                                  &:hover {
                                      color: $primary;
                                  }
                                  &.active {
                                      color: $primary;
                                  }
                              }
                          }
                      }
                  }
              }
          }
      }
	}
}

.container-investor {
	position: fixed;
	top: 0;
	z-index: 4;
	height: 100vh;
	background: $dark;
    visibility: hidden;
    transform: translateY(-100%);
    left: 0;
    .line {
		content: "";
		position: absolute;
		top: 180px;
		right: 0;
		width: 59%;
		height: 1px;
		background-color: #5D5D5D;
	}
    .rect {
      width: 29vw;
      background-color: $dark;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

	.top {
		.navbar-menu {
			position: relative;
            .navbar-collapse {
                .navbar-nav {
                    .nav-item {
                        .nav-link {
                            &:hover {
                                color: $secondary;
                            }
                        }
                    }
                }
            }
		}
	}
	.bottom {
		display: flex;
		justify-content: flex-end;
		margin-top: 2rem;
		padding-top: 3rem;
		padding-left: 3rem;
		.wrapper {
            width: 55%;
			padding-top: 3rem;
			display: grid;
			grid-template: auto / auto auto auto;
			column-gap: 30px;
			row-gap: 20px;
		}
	}
	.item-green {
		color: #fff;
		font-size: 1.125rem;
		font-weight: 600;
		text-transform: uppercase;
        transition: all .2s linear;
        &:hover {
            color: $secondary;
        }
	}
    .triangle {
        bottom: 0px;
    }
}
.tr-bottom {
  position: absolute;
  clip-path: polygon(100% 100%, 0% 100%, 100% 0);
  background-color: $secondary;
  opacity: .5;
  bottom: 0;
  right: 0;
  height: 35%;
  width: 65%;
}
.tr-top {
  position: absolute;
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  background-color: $secondary;
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
}

.navbar-bottom {
    background: #fff;
	border-top: 1px solid #E2E2E2;
	border-bottom: 1px solid #E2E2E2;
    padding-top: 30px;
	padding-bottom: 30px;
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
	.container {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: center;
        align-items: center;
		.list-destkop {
            list-style: none;
			display: flex;
			justify-content: space-between;
			padding-left: 0;
			margin-bottom: 0;
            width: 100%;
		}
        .dropdown {
            display: none;
        }
        .nav-item-b {
            margin-bottom: 0;
            padding-left: 8px;
            padding-right: 8px;
            .dropdown-item {
                color: $dark;
                font-size: 1rem;
                font-weight: 500;
                transition: all .2s linear;
                position: relative;
                display: block;
                text-transform: uppercase;
                padding: 0;
                background-color: transparent;
                &:hover {
                    color: $secondary;
                }
                &.active {
                    &::after {
                        position: absolute;
                        bottom: -30px;
                        left: 0;
                        content: "";
                        height: 9px;
                        width: 100%;
                        background-color: $secondary;
                    }
                }
            }
        }
	}
    &.sps--abv{
        animation: fadeIn;
        animation-duration: 1s;
        animation-iteration-count: 1;
    }
    &.sps--blw{
        position: fixed;
        z-index: 4;
        top: 100px;
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        animation: fadeInDown;
        animation-duration: .5s;
        animation-iteration-count: 1;
        box-shadow: 0px 22px 23px rgba(0, 0, 0, 0.05);
        background: $white;
        .list-destkop, .dropdown{
            transition: all .4s linear;
            .nav-item-b{
                transition: all .4s linear;
                .dropdown-item {
                    &.active {
                        &::after {
                            bottom: -10px;
                        }
                    }
                }
            }
        }
    }

}

@keyframes fadeInDownDropdown {
  from {
    opacity: 0;
    transform: scaleY(0);
  }

  to {
    opacity: 1;

  }
}

/*RWD*/
//1720
@media only screen and (max-width: $x2){
    .navbar-menu {
    	height: 100px;
    	.container-navbar {
    		.navbar-collapse {
    			.navbar-nav {
    				.nav-item {
    					padding: 0 1.5rem;
    					.nav-link {
    						font-size: 1rem;
    					}
    				}
    			}
    		}
            .btn-invest {
                margin-left: 6px;
            }
    		.navbar-brand {
    			img {
    				height: 55px;
    			}
    		}
    	}
        &.sps--blw {
            height: 80px;
        }
    }

    .container-investor {
    	.bottom {
    		padding-top: 0rem;
    	}
    	.line {
    		top: 117px;
    	}
    	.item-green {
    		font-size: 1rem;
    	}
    }
    .navbar-bottom {
    	padding-top: 20px;
    	padding-bottom: 20px;
    	top: 100px;
    	.container {
    		.nav-item-b {
    			.dropdown-item {
    				&.active {
    					&::after {
    						bottom: -20px;
    						height: 7px;
    					}
    				}
    			}
    		}
    	}
    	&.sps--blw {
    		top: 80px;
    	}
    }
}
//1400
@media only screen and (max-width: $xxl){

    .navbar-bottom {
    	padding-top: 15px;
    	padding-bottom: 15px;
    	.container {
    		.nav-item-b {
    			.dropdown-item {
    				font-size: .75rem;
    				&.active {
    					&::after {
    						bottom: -15px;
    						height: 6px;
    					}
    				}
    			}
    		}
    	}
        &.sps--blw {
            .container {
        		.nav-item-b {
        			.dropdown-item {
        				&.active {
        					&::after {
        						bottom: -10px;
        					}
        				}
        			}
        		}
        	}
        }
    }
    .navbar-menu {
        .container-navbar {
    		.navbar-collapse {
    			.navbar-nav {
    				.nav-item {
    					padding: 0 .5rem;
    				}
    			}
    		}
    	}
    	&.t-dark {
    		.container-navbar {
    			.navbar-collapse {
    				.navbar-nav {
    					.nav-item {
    						padding: 0px 0.25rem;
    						.nav-link {
    						    font-size: .875rem;
    							padding-right: 0.25rem;
    			                padding-left: 0.25rem;
    					    }
    					}
    				}
    			}
    		}
    	}
    }
}

//1200px
@media only screen and (max-width: $xl){
    .navbar-menu {
    	.container-navbar {
    		.navbar-collapse {
    			.navbar-nav {
    				.nav-item {
    					padding: 0 .25rem;
                        .nav-link {
                            font-size: .875rem;
                        }
    				}
    			}
    		}
    	}
        &.t-dark {
    		.container-navbar {
    			.navbar-collapse {
    				.navbar-nav {
    					.nav-item {
    						padding: 0px 0rem;
                            .nav-link {
        						font-size: .875rem;
        					}
    					}
    				}
    			}
    		}
    	}
    }
    .container-investor {
    	.bottom {
    		.wrapper {
    			width: 80%;
    		}
    	}
    }
    .navbar-bottom {
    	.container {
    		.nav-item-b {
    			.dropdown-item {
    				font-size: .75rem;

    			}
    		}
    	}
    }
    .navbar-menu {
    	.container-navbar {
    		.navbar-collapse {
    			.navbar-nav {
    				.nav-item {
    					.nav-link {
    						font-size: .875rem;
    					}
    				}
    			}
    		}
    	}
    }
}
// 992px
@media only screen and (max-width: $lg){
  .navbar-expand-lg {
       .navbar-collapse {
           display: flex !important;
       }
   }
   .navbar{
     &.navbar-menu {
      	height: 80px;
        &.sps--blw {
        	height: 80px;
        }
      }
     .container-navbar {
       .navbar-brand {
           display: block;
           z-index: 3;
       }
       .nav-invest {
    		margin-left: auto;
            z-index: 3;
    	}
        .wrapper-btn-menu {
            display: block;
        	order: 4;
        	position: relative;
        	width: 50px;
        	height: 50px;
        	margin-left: 30px;
        }
        .main-collapse {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 2;
            height: 100vh;
            background: $dark;
            visibility: hidden;
            transform: translateY(-100%);
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                display: none;
            }
            width: 100%;
        }
       .navbar-collapse {
         .navbar-nav {
             justify-content: flex-start;
             display: flex;
             align-items: center;
             width: 100%;
             height: 100%;
             flex-direction: column !important;
             margin-top: 8rem;
             .nav-item {
                 margin: 0;
                 position: relative;
                 width: 100%;
                 transition: all .3s ease;
                 padding: .5rem 1rem;
                 text-align: center;
				display: flex;
				justify-content: center;
                 .nav-link {
                     font-size: 1.5rem;
                     padding-top: .5rem;
                     padding-bottom: .5rem;
                     display: flex;
                     align-items: center;
                     color: $white;
                     justify-content: space-between;
                   }
                   .btn-primary {
                     width: 50%;
                   }

                   &:hover {
                     color: $primary;
                   }
               }
            }
            .logo-mobile {
              display: -webkit-flex;
              display: -ms-flex;
              display: flex;

            }

         }
         .navbar-toggler {
             border: 0;
             background-color: $white;
             transition: all .3s ease;
             z-index: 5;
             border-radius: 100%;
             position: absolute;
			margin-left: 0;
			top: 0;
			right: 0;
			text-align: center;
			margin-top: 0;
			height: auto;
			width: 100%;
			height: 100%;
			padding: 7px;
             &:hover {
                 background-color: $primary;
             }
             &:focus {
                 outline: none;
                 border: none;
                 box-shadow: none;
             }
             .navbar-line {
                 height: 4px;
                 margin: 5px 0;
                 display: block;
                 transition: all 0.3s ease;
                 background-color: $dark;
                 width: 35px;
                 position: relative;

               }
               &.menu-show {
                    display: block;
                   .navbar-line{
                       &:first-child {
                          margin-top: 0;
                         }
                       &:nth-child(2) {
                         width: 25px;
                       }
                       &:nth-child(3) {
                           width: 15px;
                          margin-bottom: 0;
                       }
                   }
               }
               &.menu-hide {
                   .navbar-line:nth-child(1) {
                       transform: rotate(45deg);
                       margin: 0;
                   }

                   .navbar-line:nth-child(2) {
                       transform: rotate(-45deg);
                       margin: -4px 0 0;
                   }
                 }
                 &:hover {
                     background-color: $secondary;
                 }
             }
         }
        &.navbar-menu {
        	&.t-dark {
        		.container-navbar {
        			.navbar-collapse {
        				.navbar-nav {
        					.nav-item {
        						.nav-link {
                                     color: $white;
        							font-size: 1.55rem;
        						}
        					}
        				}
        			}
        		}
                &.bg-white {
                    .container-navbar {
                		.navbar-toggler {
                            &.menu-show {
                                background-color: #d8d8d8;
                                &:hover {
                                    background-color: $secondary;
                                }
                            }
                		}
                	}
                }
        	}
        }
    }
    .tr-top {
        height: 28%;
        z-index: 3;
    }
    .tr-bottom {
        width: 108%;
    }
    .container-investor {
        padding-left: 0;
        padding-right: 0;
    	.rect {
    		width: 39vw;
    	}
    	.bottom {
    		.wrapper {
    			grid-template: auto / auto auto;
    		}
    	}
        .line {
            width: 100%;
            z-index: 3;
        }
        .container-navbar {
            padding: 0;
        }
    }
    .col-tr-top {
        position: absolute;
        clip-path: polygon(0 0, 0% 100%, 100% 0);
        background-color: $secondary;
        width: 40%;
        height: 40%;
        top: 0;
        left: 0;
    }
    .navbar-bottom {
    	top: 80px;
    	padding-top: 10px;
    	padding-bottom: 10px;
    	.container {
            .list-destkop {
                display: none;
            }
    		.dropdown {
    			display: flex;
    			width: 100%;
    			align-items: center;
    			justify-content: space-between;
    			.dropdown-toggle {
    				display: flex;
    				align-items: center;
    				justify-content: space-between;
    				width: 100%;
    				text-transform: uppercase;
    				font-size: 1rem;
    				font-weight: 500;
                    color: $dark;
                    &::after {
                        border-top: 0;
                        border-right: 0;
                        border-left: 0;
                        width: 15px;
                        height: 15px;
                		content: url('../images/investor/angle-down-regular.svg');
                        transition: all .2s linear;
                	}
                    &.show {
                        &::after {
                            transform: rotate(180deg);
                        }
                    }
                    span {
                        position: relative;
                        &::before {
                            content: "";
                            position: absolute;
                            bottom: -11px;
                            left: 0;
                            width: 100%;
                            height: 4px;
                            background-color: $secondary;
                        }
                    }

    			}
    		}
    		.nav-item-b {
    			padding-left: 0;
    			padding-right: 0;
    			.dropdown-item {
    				font-size: 1rem;
    				margin-bottom: 14px;
    				font-weight: 500;
    			}
    		}
    	}
    }
    .dropdown-menu {
    	border: none;
    	border-radius: 0;
    	width: 100%;
    	height: 100vh;
        // transform: translate(0px, 35px)!important;
        // animation: fadeInDownDropdown !important;
        // animation-duration: .3s !important;
        position: relative;
        visibility: hidden;
        transform: translateY(-100%);
        &::after {
            position: absolute;
            content: "";
            background-color: $white;
            top: 0;
            left: -200px;
            width: 200px;
            height: 100%;
        }
        &::before {
            position: absolute;
            content: "";
            background-color: $white;
            top: 0;
            right: -200px;
            width: 200px;
            height: 100%;
        }
    }

}

//768px
@media only screen and (max-width: $md){
    .container-investor {
    	.bottom {
    		.wrapper {
                justify-content: center;
    			grid-template: auto / auto;
    			width: 100%;
    			padding-left: 0;
    		}
    	}
        .item-green {
    		text-align: center;
    		font-size: 1.125rem;
    	}
    	.rect {
    		width: 34vw;
    		&::after {
    			content: "";
    			background-color: #5D5D5D;
    			position: absolute;
    			top: 0;
    			left: 61px;
    			height: 100%;
    			width: 1px;
    		}
    	}
    }
    .tr-bottom {
    	width: 100%;
    	z-index: 3;
    	background-color: #41624A;
    	opacity: 1 !important;
    	height: 19%;
    	opacity: .5;
    }
    .tr-top {
    	height: 25%;
    }
    .col-tr-top {
    	height: 29%;
    }
    .navbar-menu {
    	.container-navbar {
    		.navbar-brand {
    			img {
    				height: 43px;
    			}
    		}
    	}
    }
    .navbar-bottom {
    	.container {
    		.dropdown {
    			.dropdown-toggle {
    				font-size: .875rem;
    			}
                .dropdown-menu {
                	transform: translate(0px, 32px) !important;
                    .nav-item-b {
                        .dropdown-item {
                            font-size: .875rem;
                        }
                    }
                }
    		}
    	}
    }
}
//576px
@media only screen and (max-width: $sm){
    .navbar-menu {
    	.container-navbar {
    		.navbar-brand {
    			img {
    				height: 35px;
    			}
    		}
    		.btn-invest {
    			width: 42px;
    			height: 42px;
    			padding: 5px;
    			display: flex;
    			align-items: center;
    			justify-content: center;
    			svg {
    				display: block;
    				width: 20px;
    				height: 20px;
    			}
    		}
    	}
    }
    .container-investor {
    	.rect {
    		width: 39vw;
    		&::after {
    			left: 38px;
    		}
    	}
    	.item-green {
    		font-size: 1rem;
    	}
    	.bottom {
    		padding-left: 0;
    		.wrapper {
    			overflow-y: scroll;
                &::-webkit-scrollbar {
                    display: none;
                }
    			padding-top: 1rem;
    		}
    	}
    	.line {
    		top: 72px;
    	}
    }
    .tr-bottom {
    	display: none;
    }
    .tr-top {
    	height: 22%;
    }
    .col-tr-top {
    	height: 22%;
    }
    .navbar {
    	&.navbar-menu {
    		height: 60px;
            &.sps--blw {
                height: 60px;
            }
     	}
    	.container-navbar {
    		.wrapper-btn-menu {
    			width: 42px;
    			height: 42px;
    			margin-left: 19px;
    		}
    		.navbar-toggler {
    			.navbar-line {
    				width: 26px;
    			}
    			&.menu-show {
    				.navbar-line {
    					&:nth-child(2) {
    						width: 19px;
    					}
    					&:nth-child(3) {
    						width: 12px;
    					}
    				}
    			}
    		}
    		.nav-invest {
    			.btn {
    				span {
    					display: none;
    				}
    			}
    		}
    	}
    }
    .navbar-bottom {
    	top: 60px;
    	&.sps--blw {
    		top: 60px;
    	}
    }

}
